/* Dark mode */

body.dark {
    background-color: #212121;
}

body.dark .container {
    background-color: #212121;
}

body.dark .m-list-btn {
    color: #fff;
}

body.dark .music-name {
    color: #fff;
}

body.dark .text-header {
    color: #fff;
}

body.dark .dark-toggle {
    color: #fff;
}

body.dark .play {
    color: #fff;
}

body.dark .pause {
    color: #fff;
}

body.dark .music-list-box ul li {
    color: #fff
}

body.dark footer .back-arrow{
    color: #fff;
}

body.dark footer .forward-arrow{
    color: #fff;
}