html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

/* .container */

.container {
    width: 300px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* header */

header {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .music-list-btn img {
    height: 25px;
    cursor: pointer;
    margin: 7px;
}

header .text-header {
    font-size: 22px;
    font-family: 'Readex Pro', sans-serif;
}

header i {
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
}

header .fa-moon {
    display: none;
}

.music-list-box {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 270px;
    height: 370px;
    overflow: scroll;
}

.music-list-box::-webkit-scrollbar {
    display: none;
}

.music-list-box ul li {
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 15px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

/* main */

main {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
}

main .music-image {
    margin-top: 20px;
}

main .music-image img {
    height: 150px;
    border-radius: 3px;
}

/* music name */

.music-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}

.music-name span {
    font-size: 22px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.music-name p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

/* footer */

footer {
    margin-top: 15px;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

footer .back-arrow, .forward-arrow {
    cursor: pointer;
    color: #212121;
    font-size: 25px;
}

footer .play {
    font-size: 30px;
    cursor: pointer;
    color: #212121;
}

footer .pause {
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: #212121;
}

/* Music List Open*/

.container.show .music-list-box {
    display: flex;
}

.container.show main {
    display: none;
}

.container.show .music-name {
    display: none;
}

.container.show footer {
    display: none;
}