@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body::-webkit-scrollbar {
	display: none;
	box-sizing: border-box;
}

.container {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	user-select: none;
}

.todo-main {
	height: 430px;
	width: 348px;
	overflow-x: scroll;
	border: 1px solid #000;
	margin-top: 5px;
}

.todo-main::-webkit-scrollbar {
	display: none;
}

.todo-input {
	width: 300px;
	height: 40px;
	font-size: 21px;
	float: left;
	border: 1px solid #000;
}

.card {	
	width: 348px;
	display: flex;
	justify-content: space-between;
}

.card p {
	position: relative;
	left: 2%;
}

.card i {
	display: flex;
	align-items: center;
	font-size: 21px;
	margin-right: 5px;
	cursor: pointer;
}

.card-content {
	font-size: 25px;
	font-family: Helvetica;
	text-transform: capitalize;
	display: inline-block;
}

.card-content.finish-task {
	text-decoration: line-through;
}

.todo-button {
	width: 45px;
	height: 45px;
	float: left;
	margin-left: 3px;
	font-size: 25px;
	cursor: pointer;
}

.pop-up {
	width: 260px;
	height: 190px;
	background: #232323;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	border-radius: 15px;
	display: none;
	-webkit-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}	

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.pop-up-close {
	font-size: 19px;
	font-family: Helvetica;
	text-align: center;
	color: #ededed;
	cursor: pointer;
	line-height: 30px;
	display: inline;
	margin-left: 99px;
}

.pop-up-text {
	font-size: 30px;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	color: #fff;
	padding-left: 7px;
	text-align: center;
}