@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
	overflow: hidden;
	background: #252525;
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none;
	box-sizing: border-box;
}

.container {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	user-select: none;
}

.todo-main {
	height: 430px;
	width: 348px;
	overflow-x: scroll;
	border: 2px solid #171717;
	margin-top: 5px;
}

.todo-main::-webkit-scrollbar {
	display: none;
}

.todo-input {
	width: 296px;
	height: 40px;
	font-size: 21px;
	float: left;
	border: none;
	border-bottom: 2px solid #171717;
	margin-right: 3px;
	background: transparent;
}

input:focus {
	outline: none;
	color: rgba(253, 246, 240, 0.8);
}

.card {	
	width: 328px;
	display: flex;
	justify-content: space-between;
	background-color: #214151;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 2px;
}

.card p {
	position: relative;
	left: 2%;
	color: rgba(253, 246, 240, 0.8);
}

.card i {
	display: flex;
	align-items: center;
	font-size: 21px;
	margin-right: 10px;
	cursor: pointer;
	color: rgba(253, 246, 240, 1);
}

.card-content {
	font-size: 20px;
	font-family: Helvetica;
	text-transform: capitalize;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
}

.card-content.finish-task {
	text-decoration: line-through;
}

.todo-button {
	width: 42px;
	height: 42px;
	float: left;
	margin-left: 5px;
	font-size: 35px;
	cursor: pointer;
	background-color: #F05454;
	border: none;
	color: #fff;
	border-radius: 2px;
}

.pop-up {
	width: 260px;
	height: 190px;
	background: #232323;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	border-radius: 15px;
	display: none;
	-webkit-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}	

footer {
	text-align: center;
	position: relative;
	top: 95%;
}

footer span {
	font-family: Verdana;
	color: #456268;
	font-size: 12px;
}

/* animations for popup */

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.pop-up-close {
	font-size: 19px;
	font-family: Helvetica;
	text-align: center;
	color: #ededed;
	cursor: pointer;
	line-height: 30px;
	display: inline;
	margin-left: 99px;
}

.pop-up-text {
	font-size: 30px;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	color: #fff;
	padding-left: 7px;
	text-align: center;
}

/* responsive design  */

@media (max-width: 380px) {

	.todo-main {
		width: 305px;
		border: none;
	}

	.todo-input {
		width: 230px;
		border: none;
	}

	.todo-button {
		width: 42px;
		height: 42px;
	}

	.card {
		width: 285px;
	}
}